.userManage_container {
    width: 902px;
    margin: 30px auto 0;
    min-height: 550px;
}

.user_container {
    padding: 8px 20px;
    border-bottom: 1px solid #e8e8e8;
    position: relative;
}

.user_container_last_child {
    border-bottom: none;
}

.user_avatar {
    border-radius: 50%;
    width: 40px;
    position: relative;
    top: 6px;
}

.user_mobile {
    padding-left: 10px;
    font-size: 16px;
}

.user_name {
    color: #999;
    padding-left: 8px;
}

.user_time {
    display: block;
    float: right;
    color: #999;
}

.user_content {
    padding-left: 56px;
    text-indent: 28px;
    color: #777;
}
.user_content p{
    margin-bottom: 4px;
}

.user_message {
    line-height: 36px;
}

.delete_message {
    display: inline-block;
    float: right;
    color: #f5ad4e;
    cursor: pointer;
}

.delete_message:hover {
    color: #FF8F0c;
}

/*p::before{*/
/*content: '“';*/
/*color: #999;*/
/*font-size: 20px;*/
/*}*/
/*p::after{*/
/*content: '”';*/
/*color: #999;*/
/*font-size: 20px;*/
/*}*/
.user_container:hover {
    background-color: #fafafa;
}

/*user_list_select_delete_tip*/
.user_list_select_delete_tip {
    position: absolute;
    /* top: 110px; */
    display: none;
    right: -44px;
    width: 170px;
    height: 110px;
    border: 1px solid #e8e8e8;
    z-index: 1;
    background-color: #fff;
    padding-top: 18px;
    text-align: center;
    bottom: -109px;
}

.user_list_select_delete_tip .popover_arrow {
    position: absolute;
    left: 55%;
    margin-left: -8px;
    margin-top: -8px;
    display: inline-block;
    width: 0;
    height: 0;
    border-width: 8px;
    border-style: dashed;
    border-color: transparent;
    border-top-width: 0;
    border-bottom-color: #d9dadc;
    border-bottom-style: solid;
}

.user_list_select_delete_tip .popover_arrow_in {
    border-bottom-color: #fff;
    top: 1px;
}

.user_list_select_delete_tip .popover_arrow_out {
    top: 0;
}

.detailAll_tip_no {
    margin-right: 0;
}

.detailAll_tip_txt {
    font-size: 16px;
    margin-bottom: 20px;
}

.detailAll_tip_yes, .detailAll_tip_no {
    padding: 5px 10px;
    background-color: #f5ad4e;
    color: #fff;
    margin-right: 0px;
    cursor: pointer;
}

.detailAll_tip_no {
    margin-left: 14px;
}

/*tab标签css样式*/
.select_checkbox {
    color: #777;
    cursor: pointer;
    position: relative;
    text-align: center
}

.select_checkbox_active .select_popover_arrow {
    position: absolute;
    right: 0px;
    display: inline-block;
    width: 0px;
    height: 0;
    border-style: dashed;
    border-color: transparent;
    border-bottom-color: #f5ad4e;
    border-bottom-style: solid;
    top: 19px;
    border-left-width: 10px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 10px;
}

.select_checkbox_container {
    position: relative;
    display: inline-block;
    padding: 2px 6px;
    border: 1px solid #e8e8e8;
    margin-right: 20px;
    margin-bottom: 10px;
}

.select_checkbox_active {
    border: 1px solid #f5ad4e;
}
.publish_time_select {
    float: left;
    line-height: 25px;
    margin-top: 5px;
    margin-left: 30px;
}
/*以下是王凡*/
.content{
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
}
.sms{
    text-align: center;
    font-size: 14px;
    margin-top: 30px;
}
.total{
    width: 30%;
    line-height: 2.5;
    font-size: 10px;
    border-radius: 10px;
    outline: none;
    margin-right: 30px;
}
.last{
    width: 30%;
    line-height: 2.5;
    font-size: 10px;
    border-radius: 10px;
    outline: none;
    margin-right: 30px;
}
.message{
    width: 30%;
    line-height: 2.5;
    font-size: 20px;
    border-radius: 10px;
    outline: none;
    margin-right: 50px;
}
.url{
    width: 30%;
    line-height: 2.5;
    font-size: 20px;
    border-radius: 10px;
    outline: none;
    margin-right: 50px;
}
.types{
    width: 30%;
    line-height: 2.5;
    font-size: 20px;
    border-radius: 10px;
    outline: none;
    margin-right: 50px;
}
.start{
    width: 30%;
    line-height: 2.5;
    font-size: 20px;
    border-radius: 10px;
    outline: none;
    margin-right: 50px;
}
.end{
    width: 30%;
    line-height: 2.5;
    font-size: 20px;
    border-radius: 10px;
    outline: none;
    margin-right: 50px;
}
#btn{
    width: 50px;
    background: #FF8F0c;
    border: none;
    line-height: 2.5;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    outline: none;
}
/*以上是王凡*/


.editor_mid_box {
    height: 200px;
    width: 45%;
    margin: 5px auto;
    border: 2px dashed #d2d4d5;
    background-color: #f7f9fa;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
    margin-bottom: 20px;
    display: inline-block;
    max-width: 92%;
}

.editor_mid_box_img {
    margin: 66px auto 10px;
    display: block;
    background: transparent url("/resource/images/icon_photo.png") -50px 0 no-repeat;
    width: 50px;
    height: 48px;
    color: rgba(0, 0, 0, 0.58);
    text-shadow: 0 1px 0 #fff;
}

.editor_mid_box_txt {
    text-align: center;
    color: #b7bfc5;
}

.editor_mid_box .file_prew {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
}

.editor_cancel {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 4px;
    right: 0;
    display: none;
    background: transparent url("/resource/images/icon_photo.png") -148px 0 no-repeat;
}