@charset "utf-8";
/*
 *@media (max-width: 400px; m:480px; m:600px; .... m:920px; m: )
 *
 */
/*宽度*/
@media screen and (max-width: 2000px) {
    body{
        max-width: 1080px;
        transform: translateZ(0);
        -webkit-transform: translateZ(0);
    }



}
@media screen and (max-width: 1280px) {
    body{
        max-width: 1080px;
        transform: none;
        -webkit-transform: none;
    }
}
@media screen and (max-width: 1080px) {
    body{
        max-width: 1080px;
        transform: none;
        -webkit-transform: none;
    }
}
@media screen and (max-width: 800px) {


}
